<p>
    הוספת מוצר
  </p>
  <form (ngSubmit)="onSubmit()">
    <label>שם מוצר</label>
    <br>
  <input type="text" name= nameProduct [(ngModel)]="newProduct.nameProduct">
  <br>
  <label>מחיר</label>
  <br>
  <input type="number" name= price [(ngModel)]="newProduct.price">
  <br>
  <label>כמות במלאי</label>
  <br>
  
  <input type="number" name= unitsInStock [(ngModel)]="newProduct.unitsInStock">
  <br>
  <label>מספר קטגוריה</label>
  <br>
  <input type="number" name= numCategory [(ngModel)]="newProduct.numCategory">
  <br>
  <label>צבע</label>
  <br>
  <input type="text" name= color [(ngModel)]="newProduct.color">
  <br>
  <label>תאור</label>
  <br>
  <input type="text" name= model [(ngModel)]="newProduct.model">
  <br>
  <label>גודל</label>
  <br>
  <input type="text" name= size [(ngModel)]="newProduct.size">
  <br>
  <label>שם קטגוריה</label>
  <br>
  <input type="text" name= type [(ngModel)]="newProduct.type">
  <br>
  <input  type="file" style="margin-right: 20px;margin-top: 35px;" (change)="filesPicked($event.target.files)" >
  <br>
  <input type="submit" value="הוסף">
  </form>