body{
    overflow: hidden;
   }
   #div{
       width: inherit;
       height: 33vh;
       background-image: linear-gradient(to right, #666 ,white ,#666); 
   }
   img{
       
        margin-left:30vw;
    }
    #divimg{
       position: relative;
      bottom:10vw;
        text-align: top;
        display: inline-block;
        width:50vw;
        height: 30vh;
        margin-left: 15vW;
        margin-top: 23vh;
       font-family: serif;
        background-image: "logo.png";
       background-color:transparent;
    }
   .login{
       width: 20vw;
       height: 10vh;
       display: inline-block;
       background-color: #666;
       margin-left: 10vw;
       color:#007bff;
       margin-top: 10vh;
       font-size: 150%;
   }
  
   


