body{
    overflow: hidden;
   }
   #div{
       width: inherit;
       height: 10vh;
       background-image: linear-gradient(to right, #666 ,white ,#666); 
   }
   img{
    margin-top: 8px;
        margin-left:30vw;
    }
    #divimg {
        position: relative;
        bottom: 10.5vw;
        display: inline-block;
        width: 17vw;
        height: 1vh;
        margin-left: 35.5vW;
        margin-top: 23vh;
        font-family: serif;
        background-color: transparent;
    }
   .login{
       width: 20vw;
       height: 10vh;
       display: inline-block;
       background-color: #666;
       margin-left: 10vw;
       color:#007bff;
       margin-top: 10vh;
       font-size: 150%;
   }
  
   


