input{
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;

    border-radius: 4px;
    text-align: center;
    }
    h2,select,p{           
        font-weight: 700;
        text-align: right;
    }
    // p{
    //     // float: right;
    //     // text-align: right;
    //     // padding: 2%;
    //     font-size: 1.3em;
    //     display: inline-block;
    //     float: right;
    //     margin-bottom: 20px;
    // }