<div style="direction: rtl;margin-right: 29%;
margin-top:6%;">
<h2>ביצוע הזמנה לפי כמות סועדים</h2>

<p>בחר צלחת</p>
<select class="form-control col-2"  [(ngModel)]="plate" id="ddlViewBy">
  <option *ngFor="let item of allPlats" [ngValue]="item.idProduct">{{item.nameProduct}}{{item.color}}{{item.size}}</option>
</select>

<p>בחר כוס</p>
<select class="form-control col-2" [(ngModel)]="glass" id="ddlViewBy">
  <option *ngFor="let item of allGlasses" [ngValue]="item.idProduct">{{item.nameProduct}}{{item.color}}{{item.size}}</option>
</select>

<p>הכנס מספר סועדים</p>
<input class="form-control col-4" type="number" [(ngModel)]="numDinners">
<br>
<input  type="button" class="btn btn-primary" value="אישור" (click)="orderByAmountOfDiners()">
</div>