
<div id="divdialog" >
    <div id="dialog"  onload="del()">
        <div id="instruction" onclick="closse()" dir="ltr">
            <div id="play" style="margin-top: 20vh;">
                <p id="ss"> 
                        !!הוא האתר בשביל כל פתרונות החד פעמי SetTable
                     </p>
                     <p>
                        תוכלו להזמין את כל מוצרי החד פעמי בקלות ובמהירות SetTable -ב  
                       </p>
                       <p>
                         כמו כן משתמש רשום יוכל לצפות בהזמנותיו הקודמות ולהזמינן שוב
                       </p>
                       <p>
                           תוכלו לראות איך יראה השולחן בביתכם עם המוצרים שבחרתם  SetTable -ב
                       </p>
                      <p>
                      !!!!!!! קניה נעימה 
                     </p>
            </div>
          </div>  
        </div>
  </div>

   <div class="login" (click)="login()">כניסת משתמש רשום </div> 
   <div class="login" (click)="home()">כניסת משתמש אורח</div> 
   <div class="login" (click)="loginManeger()">כניסת מנהל</div> 
