// .router{
//     color:blue;
//     font-size: 2vw;
//     margin-left: 80vw;
//   padding-top: 2vh;
// }
.btn{
  cursor: pointer;
  // margin-top: 1%;
  direction: rtl;
  margin-right:14vw;
  color: gray;
}
#allP{
  margin-left: 7vw;
  margin-top: 1vh;
} 
#information
{
       background-color: #00a0e3;
       width: 100%;
       height: 40px;
       margin-top: 0.5%;
       color:darkgray;
}
.slideRight-001{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;  
  animation-duration: 1s; 
  -webkit-animation-duration: 4s;
  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;    
  visibility: visible !important; 
}
// .aa{
// color: gray;
// }