
<!-- <app-login-maneger></app-login-maneger> -->
<!-- <app-logo></app-logo>

<!-- <app-customer></app-customer> -->
<!-- <app-login></app-login> -->
<!-- <app-allProducts></app-allProducts> -->
<!-- <app-diagrama></app-diagrama> -->
<!-- <app-images-pass></app-images-pass> -->
<!-- <app-carusela></app-carusela> -->
<!-- <app-add-customer></app-add-customer> -->
<!-- <app-add-product></app-add-product> -->
<!-- <app-credit-card></app-credit-card> -->
<!-- <app-order-by-amount-of-diners></app-order-by-amount-of-diners> -->

<app-header></app-header>
<router-outlet></router-outlet> 

<!-- <app-video></app-video> -->
<!-- <app-edit-table></app-edit-table> -->