<!-- <a routerLink="/deleteProduct" class="router"> מחיקת מוצר</a>
<br>
<a routerLink="/diagrama" class="router">הכנסות שנתיות </a>
<br>
<a routerLink="/addProduct" class="router"> הוספת מוצר</a>
<div style="direction: rtl;text-align: right;    margin-top: 10vh;
">
<table id="table">
    <thead>
      <tr>
        <th>{{id}}</th>
        <th>{{nameProduct}}</th>
 
        <th>{{price}}</th> 
        <th>{{unitInStock}}</th> 
        <th>{{numCategory}}</th> 
        <th>{{color}}</th>
        <th>{{model}}</th> 
        <th>{{size}}</th>
        <th>{{img}}</th>
        <th>{{quentityInShop}}</th>
        <th>{{type}}</th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td> </td>
      </tr>
    </tbody>
  </table>
  <h3 style="margin-right: 4vw;">
    מחיקת מוצר
  </h3>
  
  <form style="margin-right: 4vw;" (ngSubmit)="onSubmit()" name="form" [formGroup]="myFormGroup">
 
   <select  id="ddlViewBy" formControlName="num" class="form-control col-2" style="margin-bottom: 15px;">
  <option *ngFor="let item of allproduct" [ngValue]="item.idProduct">{{item.nameProduct}}{{item.color}}{{item.size}}</option>      
    </select>
    <input type="submit" class="btn btn-primary col-2"  value="מחק">
  </form>
</div> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Parent ID</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>1</td>
                <td>News</td>
                <td>News Cate</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Products</td>
                <td>Main Products</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Blogs</td>
                <td>Parent Blogs</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
    </table>
    </div>
</div>