$lightblue:#00a0e3;
.qty{
  display: inline-block;
  text-align: center;
  width: 30px;
  color: #ccc;
  font-size: 1.3em;
}
.qtyA{
  margin: 2%;
  color: #fff;
  background-color:$lightblue;
  border-color:$lightblue ;
}
#myBasket{
  width: 3vw;
  height: 5vh;
}
#allBasket{
  color:$lightblue;
}