<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="slideRight-001" id="information">
  <div id="allP">
    <a routerLink="/deleteProduct" class="btn btn-link"> עריכה/מחיקת מוצר</a>
    
    <a routerLink="/diagrama" class="btn btn-link">הכנסות שנתיות </a>
 
    <a routerLink="/addProduct" class="btn btn-link"> הוספת מוצר</a>

    <a routerLink="/logo" class="btn btn-link"> לדף הבית </a>

  </div>
</div>

<div style="margin-right:5vw;" class="taconiner">
  <div class="row col-md-6 col-md-offset-3 custyle">
    <table class="table table-striped custab">
      <thead>
        <tr>
          <th>מזהה מוצר</th>
          <th>שם מוצר</th>
          <th>מחיר</th>
          <th>כמות במלאי</th>
          <th>מספר קטוגריה</th>
          <th>צבע</th>
          <th>סוג מוצר</th>
          <th>תמונה</th>
          <th>עריכה</th>
          <th>מחיקה</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allproduct">
          <td>{{item.idProduct}}</td>
          <td>{{item.nameProduct}}</td>
          <td>{{item.price}} ש"ח</td>
          <td>{{item.unitsInStock}}</td>
          <td>{{item.numCategory}}</td>
          <td>{{item.color}}</td>
          <td>{{item.type}}</td>
          <td> <img [src]="item.imgShow" class="card-img-top" alt="..."> </td>
          <td class="text-center">
            <button class='btn btn-info btn-xs' (click)="edit(item)"><span class="glyphicon glyphicon-edit"></span>עריכה</button>
          </td>
          <td >
              <button class="btn btn-danger btn-xs" (click)="onDelete(item.idProduct)"><span class="glyphicon glyphicon-remove"></span>מחיקה</button>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>