
// body{
//  overflow: hidden;
// }
// #div{
//     width: inherit;
//     height: 33vh;
//     background-image: linear-gradient(to right, gray , white); 
// }
// img{
    
//      margin-left:30vw;
//  }
//  #walcome{
//      margin-left: 15vw;
//      display: inline-block;
//      margin-top: 6vw;
//      //margin-bottom:8vw;
//     color:  #00a0e3;
//     font-size: 3vw;
//  }
//  #divimg{
//     position: relative;
//    bottom:10vw;
//      text-align: top;
//      display: inline-block;
//      width:50vw;
//      height: 30vh;
//      margin-left: 50vW;
//     //  margin-top: 2vw;
//     font-family: serif;
//      background-image: "logo.png";
//     background-color:transparent;
//  }
#ok{
    width: 28vw;
    height: 10vh;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color:  #bdbebe;
    border-color:#007bff;
    margin-top: 5vh;
}

form{
    margin-left: 40vw;
    margin-top: 10vh;
    border-color: black;
    background-color:  #007bff;
    width: 30vw;
    height:80vh;
}
input{
    background: #fff;
    width: 90%;
    max-width: 100%;
    display: inline-block;
    color: #666;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1em;
    line-height: 1.65;
    max-width: 100%;
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 3px;
    margin-top: 5vh;
    padding: 2vh;
    margin-left: 1vw;
}
img{
    width: 30%;
    height: 30%;
    margin-left: 10vw;
    margin-top: 4vh;
    border-radius: 1000%;
}