input{
display: block;
width: 20%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
text-align: right;
float: right;
}
label{
        display: inline-block;
    max-width: 100%; 
    margin-bottom: 5px;
    font-weight: 700;
    float: right;
    text-align: right;
}
p{
    // float: right;
    // text-align: right;
    // padding: 2%;
    font-size: 1.3em;
    border-bottom: 3px solid #FFB500;
    display: inline-block;
    margin-bottom: 20px;
}