
<p>לקוח חדש</p>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <p>:פרטים אישיים</p>
  <label>:שם מלא</label>
  <input type="text" name= nameCustomer #nameCustomer="ngModel" [(ngModel)]="newCustomer.nameCustomer">
  <br>
  <label>:סיסמא</label>
  <input type="text" name= password  #password="ngModel" [(ngModel)]="newCustomer.password">
  <br>
  <br>
  <label>:כתובת</label>
    <input type="text" name= street #street="ngModel" [(ngModel)]="newCustomer.street">
    <br>
    <br>
    <label>:טלפון</label>
  <input type="text" name= phone #phone="ngModel" [(ngModel)]="newCustomer.phone">
  <br>
  <br>
  <label>:אימייל </label>
  <input type="text" name= email #email="ngModel" [(ngModel)]="newCustomer.email">
  <br>
  <br>
  <input type="submit" value="הרשם">
</form>
