// th{
//     color:cornflowerblue;
//     font-size: 2vh;
//     border: solid;
//     font-size: 4vh;
//     border-color: black;
// }
// td{
//     border: solid;
//     border-color: black;
//     font-size: 3vh;
// }
table{
    margin-left: 32%;
    margin-top: 5%;
    width: 86vw;
    margin-right: 7vw;
}
.card-img-top{
    width: 10vw;
    height: 10vh;
}