input{
    margin-top: 3vw;
    margin-left: 47%;
    width: 15%;
    background-color: dodgerblue;
    color: dimgray;
}
#choose{
        color: dimgrey;
        font-size: 3vw;
        text-align: center;
    }