<p></p>
<video src="../assets/video/סדרת אוריגמי מפיות_ איך לקפל פרח ממפית נייר לשולחן החג.mp4" controls="controls"  width="640" height="360" type="video/mp4"></video>
<video src="../assets/video/1177.mp4" controls="controls"  width="640" height="360" type="video/mp4"></video>
<video src="../assets/video/שדרגו את שולחן החג עם קיפול מפיות מרשים ופשוט!.mp4" controls="controls"  width="640" height="360" type="video/mp4"></video>
<video src="../assets/video/סדרת אוריגמי מפיות_ איך לקפל מפית ככיס לסכו_ם.mp4" controls="controls"  width="640" height="360" type="video/mp4"></video>

<br>
<input type="button"  value="לדף הבית" (click)="home()" class="btn btn-primary">