<div class="slideRight-001" id="information">
    <div id="allP">
        <a routerLink="/deleteProduct" class="btn btn-link"> עריכה/מחיקת מוצר</a>

        <a routerLink="/diagrama" class="btn btn-link">הכנסות שנתיות </a>

        <a routerLink="/addProduct " class="btn btn-link"> הוספת מוצר</a>

        <a routerLink="/logo" class="btn btn-link"> לדף הבית </a>

    </div>
</div>

<div style="direction: rtl;
text-align: right;
margin-right: 30vw;
margin-top:6vh">
    <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
    </fusioncharts>
</div>