<a routerLink="/deleteProduct" class="router"> מחיקת מוצר</a>
<br>
<a routerLink="/diagrama" class="router">הכנסות שנתיות </a>
<br>
<a routerLink="/addProduct" class="router"> הוספת מוצר</a>
<div style="direction:rtl;text-align:right;width:24vw;margin-right:6vw;">
    <h3>
        הוספת מוצר
    </h3>
      <form style="direction: rtl;text-align: right;" (ngSubmit)="onSubmit()">
        <label>שם מוצר</label>
      <input class="form-control  "type="text" name= nameProduct [(ngModel)]="newProduct.nameProduct">
      <label>מחיר</label>
      <input class="form-control" type="number" name= price [(ngModel)]="newProduct.price">
      <label>כמות במלאי</label>
      
      <input class="form-control" type="number" name= unitsInStock [(ngModel)]="newProduct.unitsInStock">
      <label>מספר קטגוריה</label>
      <input type="number" class="form-control" name= numCategory [(ngModel)]="newProduct.numCategory">
      <label>צבע</label>
      <input type="text" class="form-control" name= color [(ngModel)]="newProduct.color">
      <label>תאור</label>
      <input type="text" class="form-control" name= model [(ngModel)]="newProduct.model">
      <label>גודל</label>
      <input type="text" class="form-control" name= size [(ngModel)]="newProduct.size">
      <label>שם קטגוריה</label>
      <input type="text" class="form-control" name= type [(ngModel)]="newProduct.type">
      <input  type="file" class="form-control" style="margin-right: 20px;margin-top: 35px;" (change)="filesPicked($event.target.files)" >
      <input type="submit" class="btn btn-primary" value="הוסף" >
      </form>
    </div>