<table id="table">
    <thead>
      <tr>
        <th>{{id}}</th>
        <th>{{nameProduct}}</th>
  
        <th>{{price}}</th>
  
        <th>{{unitInStock}}</th>
  
        <th>{{numCategory}}</th>
  
  
        <th>{{color}}</th>
        <th>{{model}}</th>
  
  
        <th>{{size}}</th>
        <th>{{img}}</th>
        <th>{{quentityInShop}}</th>
        <th>{{type}}</th>
  
  
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td> </td>
      </tr>
    </tbody>
  </table>
  <p>
    מחיקת מוצר
  </p>
  
  <form (ngSubmit)="onSubmit()" name="form" [formGroup]="myFormGroup">
    <!-- <label>
      הקש מזהה מוצר
    </label> -->
    <!-- <input type="number" formControlName="num"> -->
   <select  id="ddlViewBy" formControlName="num">
  <option *ngFor="let item of allproduct" [ngValue]="item.idProduct">{{item.nameProduct}}{{item.color}}{{item.size}}</option>      
    </select>
    <input type="submit" value="delete">
  </form>